body {
    width: 100vw;
    height: 100vh;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

#root {
    width: inherit;
    height: inherit;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
}

input, a {
    &:focus {
        outline: none;
    }
}

.checkbox-container {
    position: relative;
    width: 40px;
    height: 40px;
    background: #ffffff;
}

.checkbox {

    label {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 30px;
            height: 30px;
            border: 2px solid #f5f5f5;
            border-radius: 50%;
        }

        &:after {
            border: none;
        }
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked {
            + label {
                &:after {
                    background-size: 60%;
                    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA4MCA4MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODAgODA7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iODAiIGhlaWdodD0iODAiPjxnPjxwb2x5Z29uIHN0eWxlPSJmaWxsOiM2NENGQkE7IiBwb2ludHM9IjIuNzExLDQzLjk5NyA4Ljk5NSwzNy43MTIgMjYuNDk3LDU1LjcxNCA3MS4wMDIsMTAuNzA5IDc3LjI5MSwxNi45OTggMjYuNDk4LDY3LjI5OCAgIi8+PC9nPjwvc3ZnPg==);
                    background-position: 50%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.footer {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: #777;
    padding: 10px 15px;
    height: 50px;
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #e6e6e6;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    display: flex;

    .items {
        width: 30%;
        max-width: 30%;
        display: flex;
        align-items: center;
    }

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        overflow: hidden;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    }

    .nav {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        text-transform: capitalize;
        color: inherit;


    }
}

